@media only screen and (max-width: 1024px) {
  body .projects {
    width: 75%;
    padding: 0 1rem;
  }
  body .projects__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
  }
  body .projects__project {
    width: 90%;
    height: 125px;
    padding: 10px;
    margin: 0.75rem auto;
    position: relative;
    text-align: left;
  }
  body .projects__project > * {
    display: inline;
    position: absolute;
    padding: 0.25rem;
    border-radius: 5px;
  }
  body .projects__project .icon {
    width: 115px;
    height: 115px;
    top: 5px;
    left: 5px;
    padding: 1.5rem;
  }
  body .projects__project .name {
    height: 45px;
    font-size: 1rem;
    font-weight: bold;
    top: 5px;
    left: 120px;
  }
  body .projects__project .desc {
    padding-right: 1.25rem;
    height: 70px;
    overflow: hidden;
    font-size: 0.9rem;
    top: 50px;
    left: 120px;
  }
}
@media only screen and (max-width: 900px) {
  body .intro {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1.5em 0;
  }
  body .intro > * {
    width: 90%;
    margin: 0;
  }
  body .intro__img img {
    width: 125px;
    height: 125px;
  }
  body .intro__text {
    text-align: center;
  }
  body .intro__social {
    width: auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .scroll-down {
    width: 75px;
    height: 75px;
  }
  body .bio__text {
    width: 80%;
  }
  body .bio__icon {
    width: 50px;
    height: 50px;
    margin-top: calc(-25px - 1rem);
  }
  body .experience__current {
    width: 80%;
  }
  body .experience__list {
    width: 80%;
  }
  body .projects {
    width: 100%;
  }
  body .skills__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .skills__side {
    width: 75%;
  }
  body .skills__list {
    width: 100%;
  }
  body .interests {
    width: 100%;
    padding: 0 1rem;
  }
  body .interests__interest {
    margin: 0 1.25rem;
  }
}
@media only screen and (max-width: 768px) {
  body hr {
    margin: 15px auto;
  }
  body .bio__text {
    width: 90%;
  }
  body .bio__icon {
    width: 50px;
    height: 50px;
    margin-top: calc(-25px - 1rem);
  }
  body .experience__current {
    width: 90%;
  }
  body .experience__list {
    width: 90%;
  }
  body .skills__side {
    width: 85%;
  }
  body .interests {
    padding: 0 1rem;
  }
  body .interests__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
  }
  body .interests__interest {
    width: 75%;
    height: 75px;
    margin: 0.75rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .interests__interest > * {
    height: 65px;
    margin: 0 1rem;
  }
  body .interests__interest .icon {
    margin: 0;
    width: 65px;
  }
  body .interests__interest .name {
    width: 125px;
    font-size: 1rem;
    font-weight: bold;
    line-height: auto;
  }
}
@media only screen and (max-width: 480px) {
  body .banner {
    width: 90%;
  }
  body .projects {
    font-size: 0.85rem;
  }
  body .projects__project .desc {
    font-size: 0.75rem;
  }
}
@font-face {
  font-family: "Metropolis-Regular";
  src: url("fonts/Metropolis-Regular.eot");
  src: url("fonts/Metropolis-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Metropolis-Regular.woff2") format("woff2"), url("fonts/Metropolis-Regular.woff") format("woff"), url("fonts/Metropolis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis-Bold";
  src: url("fonts/Metropolis-Bold.eot");
  src: url("fonts/Metropolis-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Metropolis-Bold.woff2") format("woff2"), url("fonts/Metropolis-Bold.woff") format("woff"), url("fonts/Metropolis-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Metropolis-Regular", sans-serif;
  transition-duration: 0.25s;
  background-color: #121212;
  color: #f1f1f1;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0.5rem 0;
  font-family: "Metropolis-Bold", sans-serif;
}

.section {
  width: 100%;
  max-width: 1560px;
  margin: 1rem auto;
}

hr {
  width: 50%;
  max-width: 960px;
  border: 0.5px solid #4d4d4d;
  margin: 25px auto;
  text-align: center;
}

.banner {
  text-align: center;
  text-decoration: underline;
  height: 3rem;
  width: 65%;
  max-width: 480px;
  padding: 0;
  box-shadow: -7.5px 7.5px 0px #222222;
  border-radius: 3px;
  border: 2px solid #3b3b3b;
  box-sizing: content-box;
  margin: 2rem auto;
}
.banner h3 {
  margin: 0;
  height: 3rem;
  line-height: 3rem;
}

.intro {
  height: 25rem;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.intro > * {
  width: 50%;
  text-align: center;
}
.intro__img {
  margin-left: 2em;
}
.intro__img img {
  width: 225px;
  height: 225px;
  border-radius: 50%;
}
.intro__text {
  text-align: left;
  margin-right: 2em;
}
.intro__text > * {
  width: 50%;
  margin: 15px auto;
}
.intro__social {
  width: 50%;
  height: 45px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.intro__social > * {
  width: 45px;
  min-width: 45px;
  height: 45px;
  box-shadow: -4px 4px 0px #222222;
  border-radius: 3px;
  margin: 7.5px;
  border: 2px solid #3b3b3b;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__social > *:hover {
  box-shadow: -5px 5px 0px #edae49;
}
.intro__social > * img {
  width: 30px;
  height: 30px;
  background: #f1f1f1;
}

.scroll-down {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.bio__text {
  width: 65%;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  box-shadow: -7.5px 7.5px 0px #222222;
  border-radius: 3px;
  border: 2px solid #3b3b3b;
  margin: 0 auto 1rem auto;
}
.bio__icon {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-top: calc(-36px - 1rem);
  border-radius: 50%;
}
.bio__icon img {
  width: 100%;
  border-radius: 50%;
}

.experience {
  text-align: center;
  padding-bottom: 0.5rem;
}
.experience > * {
  margin: 1rem auto;
}
.experience h1 {
  margin: 0 auto;
}
.experience__current {
  width: 65%;
  min-height: 150px;
  padding: 0.75rem;
  border: 2px solid #3b3b3b;
  box-shadow: -7.5px 7.5px 0px #222222;
  border-radius: 3px;
}
.experience__current > * {
  width: 90%;
  margin: 0.5rem auto;
}
.experience__current__link {
  width: 150px;
  height: 40px;
  line-height: 40px;
  display: block;
  margin-top: 1rem;
  border: 2px solid #3b3b3b;
  background-color: #3b3b3b;
  border-radius: 3px;
}
.experience__current__link:hover {
  border-color: #edae49;
  background-color: #edae49;
  color: #121212;
}
.experience__current__link--inexistent {
  display: none;
}
.experience__list {
  width: 65%;
  padding: 0.5rem 0;
  margin: 1.5rem auto 0 auto;
}
.experience__list__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.experience__list__item {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #3b3b3b;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.experience__list__item span {
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 50%;
  display: block;
}
.experience__list__item--active span {
  background-color: #f1f1f1;
}
.experience__list hr {
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 1px;
  margin: 0 auto;
  position: relative;
  top: -12px;
  z-index: 0;
}

.projects {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.projects__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.projects__project {
  width: 250px;
  padding: 1rem;
  box-shadow: -7.5px 7.5px 0px #222222;
  border-radius: 3px;
  border: 2px solid #3b3b3b;
  margin: 0 2em;
  cursor: pointer;
}
.projects__project:hover {
  box-shadow: -8.5px 8.5px 0px #edae49;
}
.projects__project .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: transparent;
}
.projects__project .icon img {
  width: 100%;
  height: 100%;
}
.projects__project .name {
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 50px;
}
.projects__project .desc {
  height: 125px;
  overflow: hidden;
}
.projects__more {
  width: 150px;
  height: 50px;
  display: block;
  cursor: pointer;
  border: 2px solid #3b3b3b;
  background-color: #3b3b3b;
  border-radius: 3px;
  line-height: 47.5px;
  margin: 1.5rem auto;
}
.projects__more:hover {
  border-color: #edae49;
  background-color: #edae49;
  color: #121212;
}

.skills {
  text-align: center;
  padding: 0 2rem;
}
.skills h1 {
  margin: 0;
}
.skills__container {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.skills__side {
  width: 325px;
  margin: 0 4rem;
}
.skills__list {
  width: 325px;
  padding: 1rem;
  box-shadow: -7.5px 7.5px 0px #222222;
  border-radius: 3px;
  border: 2px solid #3b3b3b;
}
.skills__list li {
  list-style-type: square;
}
.skills__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #121212;
  padding: 0.75rem;
  margin: -25px 0 0 -25px;
  border: 2px solid #3b3b3b;
}
.skills__icon > * {
  background-color: #121212;
}

.interests {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.interests__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.interests__interest {
  width: 175px;
  height: 225px;
  padding: 0.75rem;
  box-shadow: -7.5px 7.5px 0px #222222;
  border-radius: 3px;
  border: 2px solid #3b3b3b;
  margin: 0 3rem;
}
.interests__interest > * {
  height: 100px;
}
.interests__interest .icon {
  width: 100px;
  padding: 0.5rem;
  margin: 0 auto;
}
.interests__interest .icon img {
  width: 100%;
}
.interests__interest .name {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interests__more {
  max-width: 200px;
  height: 50px;
  line-height: 47.5px;
  margin: 1.5rem auto;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.hide-form {
  text-align: center;
}
.hide-form .contact-btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  color: #f1f1f1;
  background-color: #3b3b3b;
  border-radius: 3px;
  border: 2px solid #3b3b3b;
  font-weight: bold;
  line-height: 47.5px;
  margin: 1.5rem auto;
}
.hide-form .contact-btn:hover {
  border-color: #edae49;
  background-color: #edae49;
  color: #121212;
}
.hide-form .contact__form {
  display: none;
}

.show-form {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  background-color: rgba(18, 18, 18, 0.9);
}
.show-form .contact-btn {
  display: none;
}
.show-form .contact__form {
  width: 80%;
  min-width: 350px;
  max-width: 768px;
  padding: 1rem;
  color: #f1f1f1;
  background-color: #121212;
  border-radius: 3px;
  box-shadow: none;
  border: 2px solid #3b3b3b;
  text-align: left;
}
.show-form .contact__form > * {
  width: 75%;
  display: block;
  margin: 1rem auto;
  border-radius: 3px;
  box-shadow: none;
}
.show-form input,
.show-form textarea {
  height: 40px;
  padding: 5px;
  text-indent: 10px;
  color: #f1f1f1;
  border: 2px solid #3b3b3b;
  font-size: 16px;
  background-color: #121212;
}
.show-form input::placeholder,
.show-form textarea::placeholder {
  color: #3b3b3b;
  opacity: 1;
}
.show-form textarea {
  height: 150px;
  resize: none;
}
.show-form .contact__buttons {
  width: 75%;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.show-form .contact__buttons > * {
  width: 100px;
  border-radius: 3px;
  cursor: pointer;
  border: 2px solid #3b3b3b;
  color: #f1f1f1;
}
.show-form .contact__buttons input:first-child {
  border: 2px solid #121212;
  background-color: #edae49 !important;
  color: #121212;
}

.footer {
  max-width: 100%;
  min-height: 115px;
  font-size: 0.75rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  border-top: 2px solid #3b3b3b;
}
.footer__text {
  color: #f1f1f1;
  background-color: transparent;
}
.footer a {
  background-color: #121212;
}
.footer a:hover {
  box-shadow: none;
}
.footer a img {
  background-color: #121212;
  width: 75px;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
