version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: 'cron'
      cronjob: '0 0 1 */3 *'
    groups:
      regular-updates:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
    ignore:
      - dependency-name: '*'
        update-types:
          - 'version-update:semver-major'
    assignees:
      - 'oneminch'
