node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
*.code-workspace

# Dendron specific stuff
.dendron.*
*.lnk
*.schema.yml
content/notes/assets/
content/notes/.vscode/
content/notes/drafts.*
content/notes/template.md
build
seeds
.next
pods/service-connections

